<h3>Single selection</h3>
<p>
  <mat-form-field>
    <mat-select (selectionChange)="cambioEnSeleccion($event)" [formControl]="eventoCtrl" placeholder="Eventos" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [placeholderLabel]="Eventos" [formControl]="eventoFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let bank of filteredEventos | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
 Evento Seleccionado: {{eventoCtrl.value?.name}}
</p>
